<%= render "bar" %>

<section id="about" class="bg-white">
  <%= render "about" %>
</section>

<section id="propositions" class="bg-slate-50">
  <%= render "propositions" %>
</section>

<section id="course" class="bg-white">
  <%= render "course" %>
</section>

<section id="schedule" class="bg-slate-50">
  <%= render "schedule" %>
</section>

<section id="partners" class="bg-white">
  <%= render "partners" %>
</section>

<section id="contact" class="bg-white">
  <%= render "contact" %>
</section>
